{% block content %}

<div class="container">
  <div class="row mt-3">
    <div style="text-align:center" class="col-md-9 mx-auto mb-5 mt-xl-5">
      <h2>Registro</h2>
    </div>
    <div style="text-align:center" class="col-md-9 mx-auto mb-5 mt-xl-5">

      <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="form-group">
            {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
            {% endfor %}
          </div>
        </div>
        <button type="submit">Registrar</button>
        <button type="submit">Cancelar</button>
      </form>

    </div>
  </div>
  {% endblock %}